body {
    font-family: Arial, sans-serif;
}

.header {
    padding: 20px 0;
}

.header nav a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.header .logo {
    width: 70px;
}

.icons img {
    width: 20px;
    margin-left: 10px;
}

.product-img {
    width: 160px;
}

.qty {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.pay-btn {
    background: #cf7f8b;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
}

.footer {
    background: #cf7f8b;
    color: white;
    padding: 40px 20px;
}

.footer .logo {
    width: 70px;
}

.socials img {
    width: 25px;
    margin-left: 10px;
}
.price {
   color: #ffffff;
   font-weight: 700;
    font-size: 1.2rem;
}
.pay-btn {
            background: linear-gradient(135deg, #ffffff, #ffffff);
            border: none;
            padding: 12px 40px;
            font-weight: 600;
            font-size: 1.1rem;
        }
.empty-cart-icon {
            font-size: 5rem;
            color: #dee2e6;
        }
